AUTH_SECRET=
AUTH_GOOGLE_ID=1017155266531-5278r2b4svs70k4o2lu3o7hl8efvlgtk.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=

NEXT_PUBLIC_SUPABASE_URL=https://gowqlnnyuhoplbymjlxl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_oVf7wEFESx5ztBNrax8UOQ_saA_tsaO
SUPABASE_URL=https://gowqlnnyuhoplbymjlxl.supabase.co
SUPABASE_SECRET_KEY=

PORTAL_ALLOWED_DOMAIN=grupo-aftermarket.com
PORTAL_ALLOWED_EMAILS=
PORTAL_EDITOR_EMAILS=ignacio@grupo-aftermarket.com,etelias@grupo-aftermarket.com,jpajon@grupo-aftermarket.com
